{% extends "admin_area/base.html" %} {% load static %} {% load crispy_forms_tags %} {% block content %}

<div class="card">

    <form method="POST" style="padding: 10px;" enctype="multipart/form-data">
        {% csrf_token %} {{form.media}}{{ form|crispy }}

        <button type="submit" style="margin-top: 10px;" class="btn btn-primary">Create</button>
    </form>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Experience</h5>

        <!-- List group with Advanced Contents -->
        <div class="list-group">
            {% for experience in experiences %}
            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{experience.heading}}</h5>
                    <small>{{experience.from_date}} - {{experience.to_date}}</small>
                </div>
                <p class="mb-1">{{experience.description}}</small>
            </a>
            {% endfor %}

        </div>
        <!-- End List group Advanced Content -->

    </div>
</div>

{% endblock content %}