{% extends "base.html" %} {% block content %}

<section class="ftco-section ftco-no-pb goto-here" id="resume-section" style="margin-top: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <nav id="navi">
                    <ul>
                        <li><a href="#page-1">Education</a></li>
                        <li><a href="#page-2">Experience</a></li>
                        <li><a href="#page-3">Works</a></li>
                        <li><a href="#page-4">Skills</a></li>

                    </ul>
                </nav>
            </div>
            <div class="col-md-9">
                <div id="page-1" class="page one">
                    <h2 class="heading">Education</h2>
                    {% for education in education %}


                    <div class="resume-wrap d-flex ftco-animate">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="flaticon-ideas"></span>
                        </div>
                        <div class="text pl-3">
                            <span class="date">{{education.from_date}}-{{education.to_date}}</span>
                            <h2>{{education.heading}}</h2>
                            <span class="position">{{education.institution}}</span>
                            <p>{{education.description}}</p>
                        </div>
                    </div>
                    {% endfor %}

                </div>

                <div id="page-2" class="page two">
                    <h2 class="heading">Experience</h2>
                    {% for experience in experiences %}
                    <div class="resume-wrap d-flex ftco-animate">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="flaticon-ideas"></span>
                        </div>
                        <div class="text pl-3">
                            <span class="date">{{experience.from_date}}-{{experience.to_date}}</span>
                            <h2>{{experience.position}}</h2>
                            <span class="position">{{experience.institution}}</span>
                            <p>{{experience.description}}</p>
                        </div>
                    </div>
                    {% endfor %}

                </div>

                <div id="page-3" class="page three">
                    <h2 class="heading">Works</h2>
                    {% for work in works %}
                    <div class="resume-wrap d-flex ftco-animate">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="flaticon-ideas"></span>
                        </div>
                        <div class="text pl-3">
                            <span class="date">{{work.from_date}}-{{work.to_date}}</span>
                            <h2>{{work.heading}}</h2>
                            <span class="position">{{work.subheading}}</span>
                            <p>{{work.description}}</p>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                <div id="page-4" class="page three">
                    <h2 class="heading">Skills</h2>
                    <div class="row progress-circle mb-5">


                        {% for skill in skills|slice:":3" %}
                        <div class="col-lg-4 mb-4">
                            <div class="bg-white rounded-lg shadow p-4">
                                <h2 class="h5 font-weight-bold text-center mb-4">{{skill.name}}</h2>

                                <!-- Progress bar 1 -->
                                <div class="progress mx-auto" data-value='{{skill.percentage}}'>
                                    <span class="progress-left">
                    <span class="progress-bar border-primary"></span>
                                    </span>
                                    <span class="progress-right">
                    <span class="progress-bar border-primary"></span>
                                    </span>
                                    <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                        <div class="h2 font-weight-bold">{{skill.percentage}}<sup class="small">%</sup></div>
                                    </div>
                                </div>
                                <!-- END -->

                                <!-- Demo info -->
                                <div class="row text-center mt-4">
                                    <div class="col-6 border-right">
                                        <div class="h4 font-weight-bold mb-0">28%</div><span class="small text-gray">Last week</span>
                                    </div>
                                    <div class="col-6">
                                        <div class="h4 font-weight-bold mb-0">60%</div><span class="small text-gray">Last month</span>
                                    </div>
                                </div>
                                <!-- END -->
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        {% for skill in skills|slice:"3:" %}
                        <div class="col-md-6 animate-box">
                            <div class="progress-wrap ftco-animate">
                                <h3>{{skill.name}}</h3>
                                <div class="progress">
                                    <div class="progress-bar color-1" role="progressbar" aria-valuenow="{{skill.percentage}}" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                                        <span>{{skill.percentage}}%</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
</section>
{% endblock content %}